@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

/* Theme */

:root {
  --color-primary: #339989;
  --color-secondary: #E0B0D5;
  --color-highlight: #453643;
  --color-danger: #ff206e;
  --color-ligth: #fff;
  --color-dark: #112;
  /* dark-shades */
  --color-shade: #556
  --color-darkest: #001;
  --color-darkish: #223;
}

.gradient {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-primary),
    var(--color-highlight)
  )
}

.gradient.text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient.alternate {
  background: -webkit-linear-gradient(
    bottom,
    var(--color-danger),
    var(--color-secondary)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 6rem;
  color:var(--color-ligth);
  background-color: var(--color-dark);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100svh;
  gap: 2rem;
  width: 100%;
}
